@model CV.Models.Entity.Skills
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<header class="d-flex justify-content-center py-3 bg-white border-bottom">
    <h2>Add Skill Page</h2>
</header>
<br />
<form method="post">
    @Html.Label("Skill")
    @Html.TextBoxFor(x => x.SKILL, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.SKILL, "", new { @style = "color:red" })
    <br />
    @Html.Label("Success")
    @Html.TextBoxFor(x => x.SUCCSESS, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.SUCCSESS, "", new { @style = "color:red" })
    <br />

    <button class="btn btn-info">Save</button>
</form>