@model CV.Models.Entity.SocialMedia
@{
    ViewBag.Title = "BringSocialMedia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<header class="d-flex justify-content-center py-3 bg-white border-bottom">
    <h2>Social Media Update Page</h2>
</header>
<br />
<form method="post">
    @Html.Label("Social Media Name")
    @Html.TextBoxFor(x => x.Media, new { @class = "form-control" })
    @*@Html.ValidationMessageFor(x => x.Media, "", new { @style = "color:red" })*@
    <br />
    @Html.Label("Social Media Link")
    @Html.TextBoxFor(x => x.Link, new { @class = "form-control" })
    @*@Html.ValidationMessageFor(x => x.Link, "", new { @style = "color:red" })*@
    <br />
    @Html.Label("Social Media İcon")
    @Html.TextBoxFor(x => x.İcon, new { @class = "form-control" })
    @*@Html.ValidationMessageFor(x => x.İcon, "", new { @style = "color:red" })*@
    <br />

    <button class="btn btn-success">Update</button>
</form>