@model CV.Models.Entity.Interests
@{
    ViewBag.Title = "AddInterest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<header class="d-flex justify-content-center py-3 bg-white border-bottom">
    <h2>Add Interest Page</h2>
</header>
<br />
<form method="post">
    @Html.Label("Interest")
    @Html.TextBoxFor(x => x.HEADER, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.HEADER, "", new { @style = "color:red" })
    <br />
    @Html.Label("Description")
    @Html.TextBoxFor(x => x.DESCRIPTION, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.DESCRIPTION, "", new { @style = "color:red" })
    <br />
    <button class="btn btn-success">Save</button>
</form>
