@using CV.Models.Entity
@model List<Education>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<header class="d-flex justify-content-center py-3 bg-white border-bottom">
    <h2>Education Page</h2>
</header>
<br />

<table class="table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Faculty</th>
        <th>Section</th>
        <th>Description</th>
        <th>Start</th>
        <th>Finish</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.ID</td>
    <td>@item.NAME</td>
    <td>@item.FACULTY</td>
    <td>@item.SECTION</td>
    <td>@item.DESCRIPTION</td>
    <td>@item.START</td>
    <td>@item.FINISH</td>
    <td>
        <a href="/Education/EditEducation/@item.ID" class="btn btn-info btn-sm">
            <i class="fas fa-pencil-alt">
            </i>
            Update
        </a>
    </td>
    <td>
        <a href="/Education/DeleteEducation/@item.ID" class="btn btn-danger btn-sm">
            <i class="fas fa-trash">
            </i>
            Delete
        </a>
    </td>
</tr>
    }
</table>
<br />
<a href="/Education/AddEducation/" class="btn btn-primary">Add New Education</a>
