@using CV.Models.Entity
@model List<Certificate>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<header class="d-flex justify-content-center py-3 bg-white border-bottom">
    <h2>Certificate Page</h2>
</header>
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- /.col -->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-pane" id="timeline">
                                <!-- The timeline -->
                                <div class="timeline timeline-inverse">
                                    <!-- timeline time label -->
                                    @foreach (var item in Model)
                                    {
                                        <div class="time-label">
                                            <span class="bg-success">
                                                <a href="/Certificate/BringCertificate/@item.ID">@item.DATE</a>
                                            </span>
                                        </div>
                                        <div>
                                            <i class="fas fa-star bg-warning"></i>
                                            <div class="timeline-item">
                                                <div class="timeline-body">
                                                    <div> @item.NAME</div>
                                                    <div>@item.CORPORATION</div>
                                                    <div>@item.URL</div>
                                                    <div>@item.DATE</div>
                                                </div>
                                                <div class="timeline-footer">
                                                    <a href="/Certificate/BringCertificate/@item.ID" class="btn btn-primary btn-sm">Edit</a>
                                                    <a href="/Certificate/DeleteCertificate/@item.ID" class="btn btn-danger btn-sm">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <a href="/Certificate/AddCertificate" class="btn btn-info">Add Certificate</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>