@using CV.Models.Entity
@model List<Experience>

<div>
    <h2 class="mb-5 text-black">Experience</h2>
    @foreach (var x in Model)
    {
        <div class="card text-white bg-black mb-4 shadow p-3 rounded" style="max-width: 75rem;">
            <div class="d-flex  flex-md-row mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-1 text-light">@x.COMPANY</h3>
                    <div class="subheading mb-1">@x.POSITION</div>
                    <p>@x.SECTOR</p>
                </div>
                <div>@x.START - @x.FINISH</div>
            </div>
            <p class="text-lg-end">@x.WAYOFWORKING</p>
        </div>
    }
</div>