@using CV.Models.Entity
@model List<Experience>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<header class="d-flex justify-content-center py-3 bg-white border-bottom">
    <h2>Experiences</h2>
</header>
<table class="table-bordered">
    <tr>
        <th>ID</th>
        <th>Company</th>
        <th>Position</th>
        <th>Sector</th>
        <th>Way of Working</th>
        <th>Start</th>
        <th>Finish</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    @foreach(var item in Model)
            {
<tr>
    <td>@item.ID</td>
    <td>@item.COMPANY</td>
    <td>@item.POSITION</td>
    <td>@item.SECTOR</td>
    <td>@item.WAYOFWORKING</td>
    <td>@item.START</td>
    <td>@item.FINISH</td>
    
    <td>
        <a href="/Experience/BringExperience/@item.ID" class="btn btn-info btn-sm">
            <i class="fas fa-pencil-alt">
            </i>
            Update
        </a>
    </td>
    <td>
        <a href="/Experience/DeleteExperience/@item.ID" class="btn btn-danger btn-sm">
            <i class="fas fa-trash">
            </i>
            Delete
        </a>
    </td>
</tr>
            }
</table>
<br />
<a href="/Experience/AddExperience/" class="btn btn-primary">Add New Experience</a>